body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
.navbar-toggler{
  border: none;
  width: 1em;
  float: right;
}