<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <script src="assets/js/jquery-3.5.1.slim.min.js"></script>
    <script src="assets/js/bootstrap-4.5.2.min.js"></script>
    <!-- Locally source JS and CSS files in case hosting sites go down -->
    <link rel="stylesheet" href="assets/css/bootstrap-4.5.2.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>

  <body class="d-flex flex-column">
    <div id="page-content">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="navbar-header">
          <h1>Jonelle Adona</h1>
        </div>
  
        <!-- Navbar toggle button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- Navbar links (ml-auto used to push right) -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item ml-auto">
              <a class="nav-link" href="projects.html">Projects</a>
            </li>
  
            <li class="nav-item ml-auto">
              <a class="nav-link" href="contact.html">Contact Me</a>
            </li>
  
            <li class="nav-item ml-auto">
              <a class="nav-link active" href="index.html">About</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center">
        <img src="assets/images/profile.jpg" alt="headshot" id="me">
        <h1 class="display-4">Jonelle Adona</h1>
        <p class="lead">Full stack student with the ambition <br> to advance further into software development</p>
      </div>
    </div>
    <main class="container">
      <section class="row">
        <div class="col" id="aboutMe">
          <h2>About Me</h2>
          <p>Hello! My name is Jonelle, but some call me JoJo. I am currently a student in a coding bootcamp course that is being taught in partnership with UCF. I am also a 2020 UCF graduate with a degree in health service administration. I've always had an interest in coding and web development, but I was always preoccupied with other acedmic goals throughout college. After graduating I realized that coding was something that I was really passionate about, so I decided to take the jump and pursue a career path with it. During my time as a coding student, I came to the conclusion that I made the right switch in career paths.</p>
        </div>
      </section>
      <br>
      <section class="row">
        <div class="col" id="aboutMeImg">
          <img src="assets/images/about-me.jpg" alt="colorado" id="meImg">
          <img src="assets/images/about-me2.jpg" alt="california" id="meImg">
          <img src="assets/images/about-me3.jpg" alt="zion" id="meImg">
        </div>
      </section>
      <br>
      <br>
      <section class="row">
        <div class="col" id="aboutMe">
          <p>
            I spend most my days practicing and learning new logic, but aside from coding, I love to travel and hike new trails. I enjoy the outdoors as well as photographing my adventures along the way. 
          </p>
        </div>
      </section>
      
    </main>
    <br>

    <!-- Footer  -->
  <footer>
    <h5 class="text-center">&copy; 2020 Jonelle Adona</h5>
  </footer>
  </body>
    
</html>