/* General element/class styling across all files*/
h1 {
  color: rgb(255, 102, 102);
}

h2  {
  text-align: center;
  color:rgb(255, 102, 102);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  height: 100%;
}

body {
  /* background-image: url("../images/background.jpg"); */
  background-size: cover;
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

.col {
  margin-bottom: 1%;
}

/* Styling for jumbotron */
.jumbotron {
  margin-top: 5%;
  margin-bottom: 10%;
}

/* Set size and positioning for photo in index.html */
#about-me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 80%;

/* Set fixed size for all photos in portfolio.html */
.portfolio-photos {
  height: 350px;
  width: 350px;
}

/* Styling for footers */
footer {
  background-color: black;
  color: rgb(122, 118, 118);
  flex-shrink: none;
}
header {
  padding: 156px 0 100px;
}