#me {
  width:300px;
  border-radius: 50%;
}

#meImg {
  border-radius: 50%;
  width:200px;
  margin-left: 3%;
  margin-right: 3%;
}

#weather {
  width: 100%;
}

hr {
  background-color: rgb(145, 143, 143);
}

#weatherHeading {
  color: rgb(24, 23, 23);
}

#calendarHeading {
  color:  rgb(24, 23, 23);
}

#calendar {
  width: 100%;
}

#mainjumbo {
  padding-top: 1%;
  padding-bottom: 1%;
  background:
    url("../images/moutains.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white;
    height:600px;
}

#bottomjumbo {
  padding-top: 1%;
  padding-bottom: 1%;
  background:
    url("../images/mountaintop.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white;
    height:500px;
}

.page-scroll{
  height:auto;
}

#aboutMe {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}

#skills {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}

#ucf {
  display: block;
  border-radius: 50%;
  margin-right: 3%;
  width: auto ;
  max-width: 100% ;
  height: auto
}

#jonelle {
  display: block;
  border-radius: 50%;
  margin-left: 3%;
  margin-right: 3%;
  width: auto ;
  max-width: 100% ;
  height: auto
}

#bootcamp {
  display: block;
  border-radius: 50%;
  margin-left: 3%;
  width: auto ;
  max-width: 100% ;
  height: auto
}

.container {
  margin-top: 5%;
}

#homeRow {
  text-align: center;
  width: 80%;
  margin-left: 18%;
  margin-right: 20%;
}

#dad {
  width:200px;
  border-radius: 50%;
}


/* .contactImg {
  border-radius: 50%;
  max-height: 150px;
  max-width: 200px;
  width: 120px;
  height: 120px;
} */

#contactMe {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}

#resume {
  width: 120px;
  height: 120px;
}

#linkedin {
  width: 140px;
  height: 140px;
}

#github {
  width: 115px;
  height: 115px;
}

.wrapper {
  height: 20vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 40ch;
  animation: typing 2s steps(22, end), blink .5s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}